@import 'config';

/*----------------------------------------------------------------------------------------------------------
#############################################  JOBS
----------------------------------------------------------------------------------------------------------*/
.jobs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .job {
    border-top:1px solid #ddd;
    @include box-shadow(inset 3px 3px 8px rgba(0,0,0,0.1));
    min-height: 140px;
    text-shadow: 1px 2px 2px rgba(255,255,255,0.8);
    @include transition(background 300ms);

    &:nth-child(3n+1) {
      background:#fefefe;
    }
    &:nth-child(3n+2) {
      background:#f9f9f9;
    }
    &:nth-child(3n+3) {
      background:#efefef;
    }

    &:hover {
      background: #e5e5e5;
      @include box-shadow(inset 0px 0px 12px rgba(0,0,0,0.3));
    }

    a {
      @include pie-clearfix();
      color:#333;
      display:block;
      padding:30px 40px;
      text-decoration: none;
    }

  }
    .job-posted {
      background:rgba(0,0,0,0.1);
      display:block;
      float:right;

      span {
        padding: 0 10px 0 0;
        text-align: center;
        width:105px;
      }

      .month {
        line-height:2;
        padding-left: 10px
      }

      .date {
        font-weight: $font-weight-bold;
      }
    }
    .job-source,
    .job-title {
      margin:0;
    }
    .job-title {
      font-size:2em;
      line-height: 1.25
    }


@media (max-width: 760px) {
  .jobs-list {
    font-size:0.8em;
  }
    .job-posted {

      span {
        width:75px;
      }

    }

}
